*{
    margin: 0;
}
.cabecalho{
background-color:tomato;
color:white;
text-align:center;
padding:0px;
position: sticky;
top: 0;
box-shadow: 5px 5px 5px black;
}
.paragrafo:hover{
    background-color: rgb(80, 63, 231);
    display: inline-block;
    margin: 10px 10px;
    border: 2px solid white;
    padding: 5px;
    transition: 0.7s;

}
.principal{
    width: 90%;
    margin: auto;
}
.receita{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid chocolate;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 10px 10px  10px red;
}
.imagem{
border: 2px solid red;
display: flex;
margin: 5px;
}
.bloco-receita{
    display:flex;
    justify-content: space-between;
    margin:15px 0;
}
.ingredientes,
.modo-de-preparo{
    margin: 10px;
    width:48%;
    border:2px solid chocolate;
    padding:15px;
    background-color:rgb(224,218,214);
    box-shadow: 10px 10px  10px red;

}
.chef{
    border:2px solid chocolate;
    padding:20px;
    margin:15px 0;
    display:flex;
    justify-content:space-between;
        box-shadow: 10px 10px  10px red;

}
.queijo{
    margin: 10px;
    width:30%;
    border:2px solid chocolate;
    padding:15px;
    background-color:rgb(224,218,214);
    box-shadow: 10px 10px  10px yellowgreen;

}
.sugestao{
    border: 2px solid chocolate;
    padding: 15px;
    box-shadow: 10px 10px  10px yellowgreen;
}
.conteudo-sugestao{
    margin: 5px;
    padding: 5px;
}
.type-enviar{
width:100%;
background-color: tomato;
color:white;
padding:10px;
border:none;
}
.area-de-texto{
    width: 100%;
}
.nome{
    display: inline-block;
    width: 100%;
}
.email{
    display: inline-block;
    width: 100%;
}