
.cabecalho{
background-color:tomato;
color:white;
text-align:center;
padding:20px;
}
.paragrafo {
    display: inline-block;
    margin: 10px 10px;
    border: 2px solid white;
    padding: 5px;
}
.principal{
    width: 90%;
    margin: auto;
}
.receita{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid chocolate;
    padding: 20px;
    margin: 15px 0;
}
.imagem{
border: 2px solid red;
display: inline-block;
margin: 5px;
}
.bloco-receita{
    display:flex;
    justify-content: space-between;
    margin:15px 0;
}
.ingredientes,
.modo-de-preparo{
    width:48%;
    border:2px solid chocolate;
    padding:15px;
    background-color:rgb(224,218,214);
}
.chef{
    border:2px solid chocolate;
    padding:20px;
    margin:15px 0;
    display:flex;
    justify-content:space-between;
}
.queijo{
    width:30%;
    border:2px solid chocolate;
    padding:15px;
    background-color:rgb(224,218,214);
}
.sugestao{
    border: 2px solid chocolate;
    padding: 15px;
}
.conteudo-sugestao{
    margin: 5px;
    padding: 5px;
}
.type-enviar{
width:100%;
background-color: tomato;
color:white;
padding:10px;
border:none;
}
.area-de-texto{
    width: 100%;
}
.nome{
    display: inline-block;
    width: 100%;
}
.email{
    display: inline-block;
    width: 100%;
}